@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #181818;
  font-size: 18px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 575.98px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}

h1 {
  font-family: "DM Serif Text", serif;
  font-size: 36px;
  line-height: 48px;
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
}

h2 {
  font-family: "DM Serif Text", serif;
  font-size: 32px;
  line-height: 36px;
}
@media (max-width: 575.98px) {
  h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

h3 {
  font-family: "DM Serif Text", serif;
  font-size: 24px;
  line-height: 32px;
}

.small {
  font-size: 16px;
  line-height: 28px;
}

.bold {
  font-weight: 600;
}

.green {
  color: #11782e;
}

a {
  text-decoration: underline;
  color: #181818;
  cursor: pointer;
}

a:hover {
  color: #181818;
}

.modal-dialog {
  max-width: 660px;
}
.modal-dialog .modal-content {
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: none;
}
.modal-dialog .modal-content .modal-body {
  padding: 45px;
}
@media (max-width: 575.98px) {
  .modal-dialog .modal-content .modal-body {
    padding: 24px;
  }
}
.modal-dialog .modal-content .modal-header {
  background-color: #f9f7e7;
  border-bottom: none;
  padding: 45px;
}
@media (max-width: 575.98px) {
  .modal-dialog .modal-content .modal-header {
    padding: 24px;
  }
}
.modal-dialog .modal-content .modal-header .close {
  outline: none;
  position: relative;
  left: 30px;
  bottom: 30px;
}
@media (max-width: 575.98px) {
  .modal-dialog .modal-content .modal-header .close {
    left: 0;
    bottom: 0;
  }
}

.button {
  position: relative;
  display: inline-block;
  background-color: #11782e;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 8px 12px rgba(19, 21, 20, 0.08);
  padding: 15px 40px;
  text-decoration: none;
}
.button:hover {
  background-color: #0e6025;
  color: white;
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .button {
    display: block;
    padding: 15px 20px;
  }
}
.button.button-big {
  padding: 23.5px 72px;
}
@media (max-width: 575.98px) {
  .button.button-big {
    padding: 15px 58px;
  }
}

.button-secondary {
  text-decoration: none;
  padding: 15px 40px;
  background-color: #fff7ad;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  box-shadow: 0px 8px 12px rgba(19, 21, 20, 0.03);
  border: 1px solid #e6de9c;
  display: inline-block;
  padding: auto 40px;
  display: inline-flex;
  align-items: center;
}
.button-secondary:hover {
  text-decoration: none;
  background-color: #fff382;
}
.button-secondary img {
  height: 24px;
  margin-right: 10px;
}

#association-cta {
  position: relative;
}

.logo {
  width: 310px;
  max-width: 90%;
  transform: rotate(-2.07deg);
}

.secondary {
  background-color: #f9f7e7;
}

.curve-bg {
  position: relative;
}

.top-section {
  padding-bottom: 100px;
}
@media (max-width: 1100px) {
  .top-section .top-image {
    max-width: 250px;
  }
}
@media (max-width: 800px) {
  .top-section .top-image {
    max-width: 200px;
  }
}
.top-section #top-carotte {
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 800px) {
  .top-section #top-carotte {
    transform: translate(-20%, -15%) rotate(-11deg);
  }
}
.top-section #top-fouet {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 800px) {
  .top-section #top-fouet {
    display: none;
  }
}
.top-section #top-casserole {
  position: absolute;
  top: 30%;
  left: 0;
}
@media (max-width: 800px) {
  .top-section #top-casserole {
    display: none;
  }
}
.top-section #top-rouleau {
  position: absolute;
  top: 20%;
  right: 0;
}
@media (max-width: 800px) {
  .top-section #top-rouleau {
    top: 35%;
  }
}

.curve-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 150px;
  background-image: url("./curve-bg.png");
  background-size: 100% 150px;
  background-position: top;
  z-index: 1;
}

.meals-count {
  background-color: #fff7ad;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -100px;
  position: relative;
  z-index: 2;
}
@media (max-width: 575.98px) {
  .meals-count {
    font-size: 14px;
  }
}

.meals-count-number {
  font-family: "DM Serif Display", serif;
  font-size: 60px;
  line-height: 80px;
}

.meals-count-hand-left img {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(10%, -90%);
}
@media (max-width: 575.98px) {
  .meals-count-hand-left img {
    width: 70.39px;
    transform: translate(25%, -80%);
  }
}

.meals-count-hand-right img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-10%, -80%);
}
@media (max-width: 575.98px) {
  .meals-count-hand-right img {
    left: -20px;
    width: 58.33px;
    transform: translate(0%, -83%) rotate(12deg);
  }
}

.partners-block {
  position: relative;
  margin-top: 100px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .partners-block .col-6:first-child {
    margin-bottom: 80px;
  }
  .partners-block .col-6:nth-child(2n) {
    padding-left: 7.5px;
  }
  .partners-block .col-6:nth-child(2n+1) {
    padding-right: 7.5px;
  }
}
@media (min-width: 576px) {
  .partners-block {
    margin-bottom: 80px;
  }
  .partners-block:before {
    content: "";
    background-image: url("./partners-line.svg");
    position: absolute;
    width: 75%;
    left: 12.5%;
    height: 100%;
    background-repeat: no-repeat;
  }
}
.partners-block .partner-logo-deco {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 0;
}
@media (max-width: 780px) {
  .partners-block .partner-logo-deco {
    display: none;
  }
}
.partners-block .partner-logo-deco#partner-logo-deco-tomates {
  transform: translate(-50%, -50%);
}
.partners-block .partner-logo-deco#partner-logo-deco-toques {
  transform: translate(-25%, -70%);
}
.partners-block .partner-logo-deco#partner-logo-deco-cloche {
  transform: translate(-46%, -100%);
}
.partners-block .partner-logo-deco#partner-logo-deco-fouet {
  transform: translate(-70%, -80%);
}
.partners-block .partner-block {
  background-color: #fcfcf7;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 69px 20px 20px 20px;
  position: relative;
  z-index: 1;
}
.partners-block .partner-block h3 {
  position: relative;
}
.partners-block .partner-block h3:after {
  content: "";
  width: calc(100% + 30px);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.04);
  position: absolute;
  bottom: 0;
  left: -15px;
}
.partners-block .partner-block .partner-logo {
  width: 98px;
  height: 98px;
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

@media (max-width: 575.98px) {
  #partners-modal-button {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}
.how-works {
  background-color: #fcfcf7;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .how-works {
    background-color: #fff7ad;
  }
}
.how-works .how-works-left-container {
  position: relative;
}
.how-works .how-works-left-container:before {
  content: "";
  height: calc(100% + 100vh);
  background-color: #fff7ad;
  right: 50%;
  top: -100px;
  width: 100vw;
  position: absolute;
  z-index: 0;
}
@media (max-width: 767.98px) {
  .how-works .how-works-left-container:before {
    background-color: #fcfcf7;
    height: 200vh;
    right: -200px;
    top: 50%;
    width: calc(100% + 100vw);
  }
}
.how-works .how-works-left-container .how-works-left {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 45px;
  z-index: 1;
  position: relative;
}
@media (max-width: 767.98px) {
  .how-works .how-works-left-container .how-works-left {
    padding: 25px;
  }
}
.how-works .how-works-left-container .how-works-left .how-works-content {
  width: 60%;
  margin: auto;
}
@media (max-width: 1200px) {
  .how-works .how-works-left-container .how-works-left .how-works-content {
    width: 100%;
  }
}
.how-works .how-works-left-container .how-works-left .how-works-digit {
  font-family: "DM Serif Text", serif;
  font-size: 48px;
  line-height: 66px;
  color: #11782e;
}
.how-works .how-works-left-container .how-works-illu {
  position: absolute;
  height: 80%;
  top: 50%;
  right: 0%;
  transform: translate(55%, -50%);
}
.how-works .how-works-illu-mobile {
  width: 120%;
  position: relative;
  left: -10%;
  top: -20%;
  margin-top: -36px;
  margin-bottom: -20px;
}

.carousel-arrow {
  cursor: pointer;
}

.assos-logos-wrapper {
  overflow: hidden;
}
@media (max-width: 575.98px) {
  .assos-logos-wrapper {
    overflow: scroll;
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
  }
}
.assos-logos-wrapper .assos-logos {
  display: flex;
  position: relative;
  left: 0;
  transition: left 1s cubic-bezier(0.33, 0, 0, 1);
}
.assos-logos-wrapper .assos-logos .asso-logo {
  width: 25%;
  flex: 25% 0 0;
}
@media (max-width: 575.98px) {
  .assos-logos-wrapper .assos-logos .asso-logo {
    width: 33%;
    flex: 33% 0 0;
  }
}

.red-banner {
  padding-top: 100px;
  background-image: url("./red-banner.svg");
  background-size: 67px 79px;
  background-repeat: repeat-x;
  background-position: 0px -5px;
}

.value-props {
  margin-top: 80px;
}
@media (max-width: 767.98px) {
  .value-props .col-12 {
    margin-bottom: 90px;
  }
  .value-props .col-12:last-child {
    margin-bottom: 40px;
  }
  .value-props h3 {
    margin-top: 30px;
  }
}
.value-props .value-prop {
  background: #ffffff;
  border-radius: 8px;
  padding: 32px;
  padding-top: 190px;
  height: 100%;
}
.value-props .value-prop img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 62%;
}
.value-props .value-prop p {
  font-size: 16px;
  line-height: 24px;
}

.our-mission-wrapper {
  position: relative;
}
.our-mission-wrapper .our-mission {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .our-mission-wrapper .our-mission {
    margin-bottom: 50px;
  }
}
.our-mission-wrapper .our-mission .our-mission-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #181818;
  opacity: 0.64;
}
.our-mission-wrapper .our-mission .our-mission-left {
  padding: 68px 85px;
  background: #ffffff;
  position: relative;
  border-radius: 8px 0px 0px 8px;
}
@media (max-width: 991.98px) {
  .our-mission-wrapper .our-mission .our-mission-left {
    border-radius: 8px 8px 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .our-mission-wrapper .our-mission .our-mission-left {
    padding: 24px 32px;
  }
}
.our-mission-wrapper .our-mission .our-mission-right {
  background: white;
  position: relative;
  border-radius: 0px 8px 8px 0px;
}
@media (max-width: 991.98px) {
  .our-mission-wrapper .our-mission .our-mission-right {
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
  }
}
.our-mission-wrapper .our-mission .our-mission-right .our-mission-img {
  position: absolute;
  top: 50%;
  left: 0;
  height: 80%;
  transform: translate(-20%, -50%);
}
@media (max-width: 991.98px) {
  .our-mission-wrapper .our-mission .our-mission-right .our-mission-img {
    position: relative;
    width: 120%;
    top: 0;
    left: -10%;
    height: auto;
    transform: none;
    margin-top: -20%;
    margin-bottom: -10%;
  }
}

.asso-cta-block-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
  text-align: left;
}
@media (max-width: 575.98px) {
  .asso-cta-block-wrapper {
    text-align: center;
  }
}
.asso-cta-block-wrapper .asso-cta-block {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  margin-bottom: -60px;
  z-index: 2;
}

.yellow-curve {
  position: relative;
  background-color: #fff7ad;
  overflow: hidden;
  padding: 100px 0px;
}
.yellow-curve #yellow-disc {
  position: absolute;
  height: 250%;
  top: -74%;
  right: 0;
  transform: translateX(50%);
}
.yellow-curve #yellow-disc img {
  height: 100%;
}
@media (max-width: 767.98px) {
  .yellow-curve #yellow-disc {
    transform: translateX(60%);
  }
}
.yellow-curve:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.041666667%;
  background-image: url("./yellow-curve.png");
  transform: translateY(-100%);
}
.yellow-curve #asso-cta-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250%;
}
@media (max-width: 575.98px) {
  .yellow-curve #asso-cta-image {
    display: none;
  }
}
@media (max-width: 1000px) {
  .yellow-curve #asso-cta-image {
    height: 200%;
  }
}

.insta-feed-wrapper {
  position: relative;
}
.insta-feed-wrapper #insta-hand-left {
  width: 80px;
  transform: translateY(-83%);
  position: absolute;
  left: 20%;
  top: 0;
  z-index: 0;
}
@media (max-width: 575.98px) {
  .insta-feed-wrapper #insta-hand-left {
    width: 60px;
    transform: rotate(-3.14deg);
    left: 12px;
    top: -75px;
  }
}
.insta-feed-wrapper #insta-hand-right {
  width: 95px;
  transform: translateY(-80%);
  position: absolute;
  right: 20%;
  top: 0;
}
@media (max-width: 575.98px) {
  .insta-feed-wrapper #insta-hand-right {
    width: 70px;
    transform: rotate(-2.5deg);
    right: 9px;
    top: -79px;
  }
}
.insta-feed-wrapper .instagram_gallery {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}
@media (max-width: 575.98px) {
  .insta-feed-wrapper .instagram_gallery {
    flex-wrap: wrap;
  }
}
.insta-feed-wrapper .instagram_gallery a {
  display: block !important;
  margin: 0 !important;
  width: calc(16.666666667% - 1.666666666px);
  flex: calc(16.666666667% - 1.666666666px) 0 0 !important;
}
@media (max-width: 575.98px) {
  .insta-feed-wrapper .instagram_gallery a {
    width: calc(50% - 1px);
    flex: calc(50% - 1px) 0 0 !important;
    margin-top: 2px !important;
  }
  .insta-feed-wrapper .instagram_gallery a:nth-child(5), .insta-feed-wrapper .instagram_gallery a:nth-child(6) {
    display: none !important;
  }
}
.insta-feed-wrapper .instagram_gallery a img {
  width: 100% !important;
  margin: 0 !important;
}

.footer span {
  opacity: 0.5;
  font-size: 16px;
  line-height: 24px;
}
.footer img {
  width: 100%;
  max-height: 39.68px;
  transform: rotate(-2.07deg);
}

.partner-list-item {
  font-weight: 600;
  opacity: 0.8;
}
@media (max-width: 575.98px) {
  .partner-list-item {
    font-size: 14px;
    line-height: 24px;
  }
}
.partner-list-item h3 {
  display: inline;
}
@media (max-width: 575.98px) {
  .partner-list-item h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

#collectesClosed {
  display: none;
}

.topBanner {
  padding: 10px 20px;
  background-color: #11782e;
  font-family: Open Sans;
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  z-index: 5;
  border-radius: 4px;
  background-image: url("./greenFouet.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}
.topBanner strong {
  font-weight: bold;
}
.topBanner a {
  color: white;
  font-weight: bold;
}
@media screen and (max-width: 767.98px) {
  .topBanner {
    position: relative;
    width: calc(100% - 20px);
    top: 10px;
    left: 0px;
    right: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */