.AssoList h1 {
    font-family: 'DM Serif Text';
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.AssoList__images {
    overflow-x:auto;
    display: flex;
    width:calc(100% - 30px);
    margin: auto;
    justify-content: space-between;
}

.AssoList__images img {
    margin-right: 10px;
    width: 110px;
}


.AssoList__images img:last-child {
    margin-right: 0;
}
.AssoList {
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .AssoList__images {
        display: block;
        margin: auto;
        width: 240px;
    }

    .AssoList__images img {
        width: 110px;
    }
}