.DonationSuccess {
  background-color: #faf8ea;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x:hidden;
}

.DonationSuccess__logo {
  display: block;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.DonationSuccess__merci__wrapper {
  position: relative;
  width: 500px;
  margin: auto;
}

.DonationSuccess__successLeftHand {
  position: absolute;
  width: 100px;
  top: 35px;
  left: -70px;
}

.DonationSuccess__successRightHand {
  position: absolute;
  width: 120px;
  top: 25px;
  right: -70px;
}

.DonationSuccess__merci,
.DonationSuccess__share,
.DonationSuccess__new {
  width: 500px;
  margin: auto;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  padding: 30px;
  text-align: center;
  position: relative;
}

.DonationSuccess__merci {
  padding-top: 85px;
  margin-top: 100px;
  margin-bottom: 0;
}

.DonationSuccess__totalCount {
  position: absolute;
  background: #fff7ad;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  height: 100px;
  width: 230px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.DonationSuccess__totalCount {
  font-family: "Open Sans";
  color: #181818;
}

.DonationSuccess h1 {
  font-size: 27px;
}

.DonationSuccess__totalCount h1 {
  margin: 0;
  font-size: 55px;
}

.DonationSuccess__totalCount span {
  font-size: 13px;
  margin-top: 3px;
}

.DonationSuccess p {
  font-family: "Open Sans";
  font-size: 14px;
}

.DonationSuccess__newCount {
  font-family: "Open Sans";
  font-size: 13px;
  position: absolute;
  background: #1e832d;
  box-shadow: 0px 8px 12px rgba(19, 21, 20, 0.08);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: subpixel-antialiased;
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -12px;
}

.DonationSuccess__bgFouet {
  position: absolute;
  width: 130px;
  right: -50px;
}

.DonationSuccess__bgSpatule {
  position: absolute;
  width: 100px;
}

.DonationSuccess__bgCouteau {
  position: absolute;
  right: 200px;
  top: 300px;
  width: 150px;
}

.DonationSuccess__bgCookies {
  position: absolute;
  right: 150px;
  bottom: 45px;
  width: 150px;
  z-index: 0;
}

.DonationSuccess__new h1 {
  font-size: 19px;
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .DonationSuccess {
    width: 100%;
    overflow: hidden;
  }
  .DonationSuccess__merci__wrapper {
    width: 100%;
  }
  .DonationSuccess__successLeftHand,
  .DonationSuccess__successRightHand,
  .DonationSuccess__bgFouet,
  .DonationSuccess__bgSpatule,
  .DonationSuccess__bgCouteau,
  .DonationSuccess__bgCookies {
    display: none;
  }

  .DonationSuccess__merci,
  .DonationSuccess__share,
  .DonationSuccess__new {
    width: 100%;
  }
}

.DonationSuccess h1.DonationSuccess_thanks {
  text-align:center;
  margin-top: 30px;
  margin-bottom:30px;
  font-size: 19px;
}