.GiveModule h1 {
  text-align: center;
  font-size: 28px;
}

.GiveModule__button {
  text-align: center;
  outline: none;
}

.GiveModule__button .Button {
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
}

.GiveModule__button .Input {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  margin-top: 30px;
}

.GiveModule {
  /* padding: 30px; */
  padding: 110px 30px 0px 30px;
}

.GiveModule__MealButtons {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  justify-content: space-between;
}

.GiveModule__MealButton {
  margin-top: 30px;
}

.GiveModule__MealButton .clap--count-total {
  display: none !important;
}

.GiveModule__MealButton__Icon {
  /* margin-left: -8px;
  margin-top: -4px; */
  z-index: 2;
  position: relative;
  background: #11782e;
  box-shadow: 0px 3px 4px rgba(19, 21, 20, 0.16);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
}

.GiveModule__MealButton__Add {
  font-size: 12px;
}

.GiveModule__MealButton {
  margin-right: 15px;
  position: relative;
  z-index:2;
}

.GiveModule__MealButton:last-child {
  margin-right: 0px;
}

.GiveModule__MealButton:hover {
  transform: scale(0.98);
}

.GiveModule__MealButton:active {
  transform: scale(1.02);
}

.GiveModule__MealButton:last-child {
  margin-right: 0;
}

.GiveModule .EditableText {
  font-size: 28px;
}

.GiveModule__MealCount {
  text-align: center;
  /* margin-bottom: 30px; */
  margin-top: 30px;
}
.GiveModule__MealButton__Picto__1 {
  position: absolute;
  top: 30px;
  left: 35px;
  transition: all 0.7s cubic-bezier(0.33, 0, 0, 1);
  z-index: 0;
}

.GiveModule__MealButton__Picto__10 {
  position: absolute;
  top: 30px;
  left: 142px;
  transition: all 0.7s cubic-bezier(0.33, 0, 0, 1);
  z-index: 0;
}

.GiveModule__MealButton__Picto__100 {
  position: absolute;
  top: 30px;
  left: 252px;
  transition: all 0.7s cubic-bezier(0.33, 0, 0, 1);
  z-index: 0;
}

.GiveModule__MealButton__Picto__Animate {
  top: -70px;
  left: 134px;
  opacity: 0;
}

.GiveModule__MealCount p {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  color: #181818;
  margin-top: 20px;
}

.GiveModule__Details {
  margin-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;

  color: #181818;
}

.GiveModule__Details p {
  font-family: Open Sans;
  font-size: 13px;
  margin: 20px auto;
  color: rgba(0, 0, 0, 0.6);
}

.GiveModule__Details p:last-child {
  color: rgba(0, 0, 0, 0.4);
}

.GiveModule__MealCount .Button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border-radius: 3px;
}

.GiveModule__MealCountEdit {
  position: relative;
}

@media screen and (max-width: 767px) {
  .GiveModule {
    padding: 20px !important;
    background-color: #faf29a;
    width: calc(100% + 60px);
    position: relative;
    left: -30px;
  }
  .GiveModule__MealButtons {
    max-width: 250px;
    margin: auto;
  }
  .GiveModule__MealButton {
    margin-top: 0px;
  }
  .GiveModule__MealCount {
    margin-bottom: 0;
  }
}

.GiveModule_Reset {
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #397e47;
  display: block;
  text-align: center;
  margin-top: 20px;
}
