.SocialShare {
    display: flex;
    justify-content: center;
}

.SocialShare img {
    width: 27px;
    margin-right: 10px;
}

.SocialShare a {
    position: relative;
    top: -7px;
}

.SocialShare button {
    outline: none;
}