.Footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  z-index: 1;
}

.Footer_filler {
  flex-grow: 1;
}

.Footer__content {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: #edebda;
  justify-content: space-around;
}

.Footer__content img {
  height: 30px;
}

.Footer__content span {
  font-family: "Open Sans";
  font-size: 13px;
  color: #838179;
}

.Footer__content span a {
  color: #838179;
}

@media screen and (max-width: 767px) {
  .Footer__content span {
    text-align: center;
    font-size: 10px;
  }
}
